:root {
    --main-color: #10cab7;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* header */
header {
    margin: 15px 0;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container>img {
    width: 60px;
}
header nav {
    position: relative;
}
header nav .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
header nav .icons span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
header nav .icons span:not(span:nth-child(2)){
    width: 100%;
}
span:nth-child(2) {
    width: 60%;
    transition: var(--main-color);
}
header nav:hover .icons span:nth-child(2){
    width: 100%;
}
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
header nav ul::before {
    content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header nav:hover ul {
    display: block;
}
header nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}
header nav ul li a:hover {
    padding-left: 25px;
}
header nav ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* section-1 */
#landing {
    background-image: url(../images/landing.png);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
#landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 350px;
}
#landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 3rem;
}
#landing .intro-text p {
    font-size: 1.2rem;
    line-height: 1.8;
}
/* section-2 */
#features {
   padding: 60px 0px;
   background-color: #f6f6f6;
}
#features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
#features .container article {
    padding: 20px;
    text-align: center;
}
#features .container i {
    color: var(--main-color);
}
#features .container h3 {
    font-weight: 800;
    margin: 30px 0;
}
#features .container p {
    line-height: 1.8;
    font-size: 1.1rem;
    color: #777;
}
/* section-3 */
#services {
    padding: 60px 0 100px;
}
#services .container h2 {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    color: #ebeced;
    margin: 0;
}
#services .container h2+p {
    text-align: center;
    margin: -30px 0 0;
    color: rgb(90, 89, 89);
    font-size: 20px;
}
#services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
#services .services-content .col article {
    display: flex;
    margin-bottom: 40px;
}
#services .services-content .col article i {
    color: var(--main-color);
    flex-basis: 60px;
}
#services .services-content .col article .text {
    flex: 1;
}
#services .services-content .col article .text h3 {
    margin: 0 0 20px;
    /* margin-bottom: 20px; */
}
#services .services-content .col article .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
#services .services-content .images {
    text-align: center;
    position: relative;
}
#services .services-content .images::before{
content: "";
  background-color: black;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
#services .services-content img {
    width: 300px;
    height: 330px;
}
/* section-4 */
#protfolio {
    background-color: #f6f6f6;
    padding: 60px 0;
}
#protfolio .container>h2 {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    color: #ebeced;
    margin: 0;
}
#protfolio .container>h2+p {
    text-align: center;
    margin: -30px 0 0;
    color: rgb(90, 89, 89);
    font-size: 20px;
}
#protfolio .protofolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
#protfolio .protofolio-content article{
    background-color: white;
}
#protfolio .protofolio-content img {
    width: 100%;
    height: 40vh;
}
#protfolio .protofolio-content h2 {
    padding-left: 20px;
}
#protfolio .protofolio-content p {
    padding-left: 20px;
    color: #777;
    line-height: 1.6;
}
/* section-5 */
#about {
    padding: 60px 0;
}
#about .container>h2 {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    color: #ebeced;
    margin: 0;
}
#about .container>h2+p {
    text-align: center;
    margin: -30px 0 0;
    color: rgb(90, 89, 89);
    font-size: 20px;
}
#about article p:first-child {
    padding-top: 50px;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
#about article hr {
    width: 50%;
    border-color: var(--main-color);
}
#about article p:last-child {
    padding-top: 15px;
    line-height: 2;
    color: #777;
}
/* section-6 */
#contact {
    padding: 60px 0;
    background-color: #f6f6f6;
}
#contact .container>h2 {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    color: #ebeced;
    margin: 0;
}
#contact .container>h2+p {
    text-align: center;
    margin: -30px 0 0;
    color: rgb(90, 89, 89);
    font-size: 20px;
}
#contact .container article {
    text-align: center;
    margin: 80px 0;
}
#contact .container article>p {
    font-weight: 800;
    font-size: 1.6rem;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}
#contact .container article>a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    font-size: 1.2rem;
}
#contact .container article>.social {
    margin-top: 15px;
    line-height: 1.7;
}
/* footer */
footer {
    background-color: #2c4755;
    padding: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
}
footer>span {
    font-weight: bold;
    color: var(--main-color);
}



/* phone */
@media (max-width: 767px) {
    #services .container h2, #protfolio .container>h2, #about .container>h2, #contact .container>h2{
        font-size: 60px;
    }
    #services .container h2+p, #protfolio .container>h2+P, #about .container>h2+p, #contact .container>h2+p{
        margin-top: -20px;
    }
    /* section-3 */
    #services .services-content .col article {
        flex-direction: column;
        text-align: center;
    }
    /* section-6 */
    #contact .container article>p {
        font-size: 1.2rem;
    }
    #contact .container article>a {
        font-size: .9rem;
    }
}
/* tablet */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}